@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap");

* {
  box-sizing: border-box;
}
.body {
  font-family: "Times New Roman", Times, serif;
  margin: 20px;
  padding: 10px;
  background-color: aqua;
}

.p {
  font-size: 1.2rem;
  color: blue;
}

figure {
  color: chocolate;
  font-family: fantasy, serif;
}

figcaption {
  position: relative;
  left: 75px;
}

.special-font {
  font-family: fantasy;
}

a {
  border: 3px solid mintcream;
  padding: 5px 10px;
  margin: 5px;
  display: inline;
}
